/* 通用样式 */

.container {
    display: flex;
    height: 100vh;
    padding: 5%;
}

/* 左侧面板 */
.left-panel {
    flex: 1;
    padding: 10px;
    /*border-right: 2px solid #87CEEB;*/
}

/* 右侧面板 */
.right-panel {
    flex: 1;
    padding: 10px;
}

/* 选择框和输入框 */
.filter-section {
    margin-bottom: 20px;
}

.dropdown, .search-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.search-input {
    margin-top: 10px;
}

/*.slider-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.slider-container {
    position: relative;
    width: 80%;
    margin-bottom: 30px;
}

/*.slider {*/
/*    flex: 1;*/
/*    margin-right: 10px;*/
/*}*/

.slider {
    width: 100%;
}

.number-input {
    width: 60px;
    text-align: center;
}

.labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    width: 100%;
}

.label {
    font-size: 12px;
}

/* 分割线 */
.divider {
    width: 2px;
    background: linear-gradient(to top, rgba(135, 206, 235, 0) 0%, rgba(135, 206, 235, 1) 50%, rgba(135, 206, 235, 0) 100%);
    margin: 0 20px;
}

/* 表格 */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}



/* 响应式设计 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5%;
    }

    .left-panel, .right-panel {
        width: 100%;
        margin-bottom: 20px;
    }

    .divider {
        width: 100%;
        height: 2px;
    }
}
