.select_filter{
    display: flex;
    width: 100%;
    height: 60px;
    float: left;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 400;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0,0,0,0.7);
}

.filters{
    display: flex;
    width: 100%;
    height: 120px;
    margin-left: 30px;
    align-items: center;
    justify-content: flex-start;
}

.filters .item{
    display: block;
    color: rgba(0,0,0,0.7);
    font-size: 20px;
}

.filters .item .title{
    width: 100%;
    height: 28px;
    float: left;
}

.filters .item .combobox {
    width: 100%;
    height: 66px;
    float: left;
}