*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header nav{
    width: 100%;
    height: 60px;
    background: linear-gradient(135deg, #2c3e50 0%, #4a6491 100%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    /*overflow-y: auto;*/
    flex-wrap: wrap;
    position: fixed;
    z-index: 999;
    top: 0;
}

header db_logo{
    width: 150px;
    float: left;
    line-height: 60px;
    /*background: linear-gradient(135deg, #2c3e50 0%, #4a6491 100%);*/
    font-size: 34px;
    font-weight: 400;
}

header un_logo{
    display: grid;               /* 启用 Grid 布局 */
    place-items: center;
    width: 200px;
    height: 60px;
    float: right;
    margin-right: 20px;
    /*background: linear-gradient(135deg, #2c3e50 0%, #4a6491 100%);*/
    text-align: center;
    justify-content: center;
}

header li{
    width: 130px;
    float: left;
    /* 设置文本行高 */
    line-height: 60px;
    /*background: linear-gradient(135deg, #2c3e50 0%, #4a6491 100%);*/
    font-size: 20px;
    position: relative;
}
header lib{
    display: block;
    width: 200px;
    float: left;
    /* 设置文本行高 */
    line-height: 60px;
    background-color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
header a{
    color: white;
    display: block;
    text-align: center;
}


header lib a{
    color: #767676;
    display: block;
    text-align: center;
    width: 200px;
}

header a:hover{
    background-color:#0886ed;
}
header b:hover{
    background-color:#d5d5d5;
    width: 200px;
}
/* 下拉菜单隐藏 */
header .top_list{
    display: none;
    position: absolute;
    z-index: 10;

}
/* 下拉菜单显示 */
header li:hover .top_list{
    display: block;
}
.main{
    margin: 60px 20px 0;

}
.title-div{
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-box-pack: space-between;
    -webkit--moz-box-pack: space-between;
    box-pack: space-between;
    align-items: center;
    -webkit-align-items: center;
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
}
.theme-btn{
    cursor: pointer;
    padding: 13px 20px;
    color: #fff;
    border-radius: 8px;
    background: #0886ed;
}
.page-title{
    margin: 35px 0;
}
.table-style-1{
    width:100%; border-collapse: collapse;
    th, td {
        /*border:1px solid #ccc; */
        padding:16px 6px;
    }
    th { background-color:#f4f4f4; }
    td a{
        color: #0886ed;
    }
    .selected-row{
        background-color:#f4f4f4;
    }
}

@media (max-width: 1020px) {
    header li{
        display: none;
    }

}
@media (max-width: 387px) {
    header un_logo{
        display: none;
    }

}






