.index_welcome{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.index_welcome img{
    width: 100%;
    height: 350px;
    display: block;
    opacity: 0.5;
    object-fit: cover;
}

.index_welcome .welcome{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);/* 使文字水平居中 */
    z-index: 9;
    font-size: 80px;
    font-weight: 700;
}

.index_welcome .description{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);/* 使文字水平居中 */
    z-index: 9;
    font-size: 30px;
}

.basic{
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: block;
    overflow: hidden;
    /*height: 800px;*/
    margin-top: 30px;
    border-radius: 20px;
    padding: 0 0 20px;
    background: linear-gradient(145deg, #ffffff, #e0e0e0);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

/* .basic:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-5px);  /* 上升效果 */
/* } */

.basic .header{
    height: 60px;
    width: 100%;
    background: linear-gradient(135deg, #2c3e50 0%, #4a6491 100%);
    /*box-sizing: border-box;*/
    color: white;
    text-align: left;
    align-content: center;
    /*padding: 20px;*/
    font-size: 26px;
    font-weight: 800;
    padding: 0 20px;
}

.text_1{
    align-items: center;
    margin-left: 5%;
}

.fig{
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
























.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: expandDisappear 1.5s forwards;
}

@keyframes expandDisappear {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}